.contentEditable {
  height: 300px;
  padding: 0 8px;
  border: 1px solid black ;
}

.placeholder {
  position: absolute;
  top: 197px;
  padding-left: 8px;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
}

#title {
  margin-bottom: 100px;
  align-self: center;
}