.editor-container {
  position: relative; 
}

.contentEditable {
  height: 300px;
  padding: 10px;
  border: 1px solid black;
  display: block;
  min-height: 100px;
  font: medium sans-serif;
  overflow: auto;
  resize: vertical;
  outline: none;
  white-space: pre-wrap;
}


.placeholder {
  position: absolute;
  top: 28px;       
  left: 10px;
  color: #b3b3b3;
  pointer-events: none;
  user-select: none;
}